@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap');

body {
  /* background: #000000; */
  background: #1d2630;
}
/*.logo{
    width:200px ;
 height: 250px;
}*/

 h1 {
  color: white;
  text-align: center;
  font-style: italic;
  font-size: 40px;
  transform: translate(-1%, -350%)
}

h3 {
  color: white;  
  font-style: italic;
  text-align: center;
  position: absolute;
  left: 44%;
  top: 13%;
  transform: translate(-40%, -50%);
  
} 
.container  {
  position: absolute;
  left: 17%;
  top: 43%;
  transform: translate(-40%, -50%);
  height: 210px;
  width: 400px;
  background: #f2f2f2;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 5px 4px #d0d0d0;
}

.container2  {
    position: absolute;
    left: 47.5%;
    top: 43%;
    transform: translate(-40%, -50%);
    height: 210px;
    width: 400px;
    background: #f2f2f2;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 5px 4px #d0d0d0;
  }

  .container3  {
    position: absolute;
    left: 78%;
    top: 43%;
    transform: translate(-40%, -50%);
    height: 210px;
    width: 400px;
    background: #f2f2f2;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 5px 4px #d0d0d0;
  }

  .container4  {
    position: absolute;
    left: 17%;
    top: 83%;
    transform: translate(-40%, -50%);
    height: 210px;
    width: 400px;
    background: #f2f2f2;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 5px 4px #d0d0d0;
  }
  .container5  {
    position: absolute;
    left: 47.5%;
    top: 83%;
    transform: translate(-40%, -50%);
    height: 210px;
    width: 400px;
    background: #f2f2f2;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 5px 4px #d0d0d0;
  }
  .container6  {
    position: absolute;
    left: 78%;
    top: 83%;
    transform: translate(-40%, -50%);
    height: 210px;
    width: 400px;
    background: #f2f2f2;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 5px 4px #d0d0d0;
  }

  .container7  {
    position: absolute;
    left: 55.5%;
    top: 15.5%;
    transform: translate(-40%, -50%);
    height: 20px;
    width: 107px;
    overflow: hidden;
    /*border-radius: 10px;
    box-shadow: 0 0 5px 4px #d0d0d0;*/
  }

  .container8  {
    position: absolute;
    left: 35%;
    top: 19%;
    transform: translate(-40%, -50%);
    height: 20px;
    width: 120px;
    background: #1d2630;
    overflow: hidden;
   /* border-radius: 10px;
    /*box-shadow: 0 0 4px 4px #d0d0d0;*/
  }
  .container9  {
    position: absolute;
    left: 53.5%;
    top: 19%;
    transform: translate(-40%, -50%);
    height: 18px;
    width: 116px;
    background: #f2f2f2;
    overflow: hidden;
    /*border-radius: 10px;*/
  }

  .container10  {
    position: absolute;
    left: 63%;
    top: 19%;
    transform: translate(-40%, -50%);
    height: 18px;
    width: 122px;
    background: #f2f2f2;
    overflow: hidden;
    /*border-radius: 10px;*/
  }
  .container11 {
    position: absolute;
    left: 44%;
    top: 19%;
    transform: translate(-40%, -50%);
    height: 18px;
    width: 110px;
    background: #f2f2f2;
    overflow: hidden;
   /* border-radius: 10px;*/
  
  }
